<nav class="uk-background-primary uk-light" uk-navbar>
  <div class="uk-navbar-left uk-background-primary uk-light">
    <a class="uk-navbar-item uk-logo" href="/">Inventory System</a>
  </div>
  <div class="uk-navbar-right uk-background-primary uk-light">
    <ul class="uk-navbar-nav">
      <li class="">
        <a href="/users/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
