<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
    <link rel="stylesheet" href="/stylesheets/uikit/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/datatable/jquery-datatable.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/datatable/buttons-datatable.css"/>

    <title>Inventory System</title>
  </head>