<% include ../partials/header %>

<body>
  <% include ../partials/nav %>

  <br>
  <div class="uk-container">
    <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-margin-auto">  
      <h3 class="uk-card-title">Products</h3>
      <p>View and Modify existing products</p>
      <div class="uk-text-right">
        <a href="/products" class="uk-button uk-button-primary">View</a>
      </div>
    </div>
    <br>
    <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-margin-auto">  
      <h3 class="uk-card-title">Mutations</h3>
      <p>View and Modify existing products</p>
      <div class="uk-text-right">
        <a href="/mutations/initial-balance" class="uk-button uk-button-primary">Initial Balance</a>
        <a href="/mutations/new/upload/excel" class="uk-button uk-button-primary">Upload Excel</a>
        <a href="/mutations/new" class="uk-button uk-button-primary">Add</a>
        <a href="/mutations" class="uk-button uk-button-primary">View</a>
      </div>
    </div>
  </div>
  <% include ../partials/script %>
</body>

<% include ../partials/footer %>